###########################
# DEPENDENCIAS            #
###########################
node_modules/

# (Opcional) Si usas Yarn 2+ (Plug’n’Play)
.pnp/
.pnp.*

###########################
# SALIDA DE COMPILACIÓN   #
###########################
.next/          # build de Next.js
out/            # resultado de `next export`
build/          # otras builds (por si usas tsc o vite)
dist/

###########################
# VARIABLES DE ENTORNO    #
###########################
.env             # credenciales locales
.env.*           # .env.local, .env.production, etc.
!.env.example    # mantenemos el archivo de ejemplo

###########################
# LOGS Y DEPURACIÓN       #
###########################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

###########################
# CONFIGURACIÓN VERCEL    #
###########################
.vercel/

###########################
# TYPESCRIPT              #
###########################
*.tsbuildinfo
next-env.d.ts

###########################
# SISTEMAS OPERATIVOS     #
###########################
.DS_Store        # macOS
Thumbs.db        # Windows
*.pem            # llaves/cer- tificados locales
