/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.jsx","import":"Geist","arguments":[{"variable":"--font-geist-sans","subsets":["latin"]}],"variableName":"geistSans"} ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'Geist Fallback';
  src: local("Arial");
  ascent-override:95.94%;
  descent-override:28.16%;
  line-gap-override:0.00%;
  size-adjust:104.76%;
}@font-face {font-family: 'Geist Fallback Fallback';src: local("Arial");ascent-override: 95.94%;descent-override: 28.16%;line-gap-override: 0.00%;size-adjust: 104.76%
}.__className_f27602 {font-family: 'Geist Fallback', 'Geist Fallback Fallback';font-style: normal
}.__variable_f27602 {--font-geist-sans: 'Geist Fallback', 'Geist Fallback Fallback'
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.jsx","import":"Geist_Mono","arguments":[{"variable":"--font-geist-mono","subsets":["latin"]}],"variableName":"geistMono"} ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'Geist Mono Fallback';
  src: local("Arial");
  ascent-override:74.67%;
  descent-override:21.92%;
  line-gap-override:0.00%;
  size-adjust:134.59%;
}@font-face {font-family: 'Geist Mono Fallback Fallback';src: local("Arial");ascent-override: 74.67%;descent-override: 21.92%;line-gap-override: 0.00%;size-adjust: 134.59%
}.__className_22812c {font-family: 'Geist Mono Fallback', 'Geist Mono Fallback Fallback';font-style: normal
}.__variable_22812c {--font-geist-mono: 'Geist Mono Fallback', 'Geist Mono Fallback Fallback'
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/app/style.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Evil Empire";
  src: url("/fonts/evil_empire.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.txt_red {
  color: #ae263a;
}

::selection {
  background-color: #db2c15;
  color: #fff;
  text-shadow: none;
}

/* Compatibilidad con Firefox */
::-moz-selection {
  background-color: #db2c15;
  color: #fff;
  text-shadow: none;
}

/* Compatibilidad con Edge/IE */
::-ms-selection {
  background-color: #db2c15;
  color: #fff;
  text-shadow: none;
}

h1 {
  text-transform: uppercase;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.landing__master {
  background-image: url("/media/background.jpg");
  width: 100vw;
  min-height: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.landing__master h1 {
  font-family: "veneer", sans-serif;
  color: #333333;
  font-size: 3.5rem;
}
.landing__master h1 .txt_red {
  color: #ae263a;
}
@media only screen and (max-width: 900px) {
  .landing__master h1 {
    font-size: 3rem;
  }
}
.landing__master h2 {
  font-family: "veneer", sans-serif;
  color: #333333;
  font-size: 2.3rem;
}
@media only screen and (max-width: 900px) {
  .landing__master h2 {
    font-size: 2.5rem;
  }
}
.landing__master p {
  font-family: "veneer", sans-serif;
  color: #333333;
  font-size: 1.5rem;
}
@media only screen and (max-width: 900px) {
  .landing__master p {
    font-size: 1.3rem;
  }
}

.video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
  object-fit: cover;
  max-height: 90vw;
}
.video-wrapper .video-element {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.video-wrapper .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.video-wrapper .video-overlay img,
.video-wrapper .video-overlay::before {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-wrapper .video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  font-size: 4rem;
  padding: 1rem 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.intro__master {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
}
@media only screen and (max-width: 800px) {
  .intro__master {
    display: block;
    position: relative;
    margin-top: 60px;
  }
}
.intro__master .intro__text {
  position: relative;
}
.intro__master .intro__text .rayo__master {
  position: relative;
}
.intro__master .intro__text .rayo__master .rayo {
  position: absolute;
  top: 5px;
  left: 300px;
  width: 15px;
  height: auto;
}
@media only screen and (max-width: 900px) {
  .intro__master .intro__text .rayo__master .rayo {
    left: 258px;
  }
}
.intro__master .intro__text .corazon__master {
  position: relative;
}
.intro__master .intro__text .corazon__master .corazon {
  position: absolute;
  bottom: 3px;
  left: 127px;
  width: 20px;
  height: auto;
}
@media only screen and (max-width: 900px) {
  .intro__master .intro__text .corazon__master .corazon {
    left: 110px;
  }
}
.intro__master .intro__line {
  border-left: 3px dashed #333;
  height: auto;
  max-height: 260px;
  margin-top: 40px;
}
@media only screen and (max-width: 800px) {
  .intro__master .intro__line {
    display: none;
  }
}
.intro__master .mano__rock {
  max-width: 270px;
  height: 100%;
}
@media only screen and (max-width: 900px) {
  .intro__master .mano__rock {
    max-width: 200px;
    height: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .intro__master .mano__rock {
    position: absolute;
    right: 20px;
    bottom: -20px;
    max-width: 100px;
    height: auto;
  }
}
@media only screen and (max-width: 500px) {
  .intro__master .mano__rock {
    position: absolute;
    right: 20px;
    bottom: -80px;
    max-width: 80px;
    height: auto;
  }
}
.intro__master .mano__rockera {
  max-width: 270px;
  height: 100%;
}
@media only screen and (max-width: 900px) {
  .intro__master .mano__rockera {
    max-width: 200px;
    height: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .intro__master .mano__rockera {
    position: absolute;
    right: 20px;
    bottom: -20px;
    max-width: 100px;
    height: auto;
  }
}
@media only screen and (max-width: 500px) {
  .intro__master .mano__rockera {
    position: absolute;
    right: 20px;
    bottom: -115px;
    max-width: 80px;
    height: auto;
  }
}

.selection__master {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .selection__master {
    margin-top: 150px;
    display: block;
  }
}
.selection__master .s__title {
  margin-bottom: 50px;
}
@media only screen and (max-width: 900px) {
  .selection__master .s__title {
    text-align: right;
  }
}
.selection__master .fresh {
  animation: rotar-infinito 10s linear infinite;
  width: 200px;
  height: 200px;
}
@media only screen and (max-width: 900px) {
  .selection__master .fresh {
    position: absolute;
    left: 3vw;
    top: -20px;
    width: 130px;
    height: 130px;
  }
}
@media only screen and (max-width: 600px) {
  .selection__master .fresh {
    position: absolute;
    left: 3vw;
    top: -70px;
    width: 80px;
    height: 80px;
  }
}
@keyframes rotar-infinito {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.camisetas__master {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}
.camisetas__master .camiseta {
  width: 50vw;
  max-width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
}
@media only screen and (max-width: 700px) {
  .camisetas__master .camiseta {
    width: 80vw;
    max-width: 500px;
  }
}
.camisetas__master h1 {
  text-align: center;
  color: #ae263a;
}

.marquee__master {
  overflow: hidden;
  background-color: #222;
  padding: 1rem 0;
  white-space: nowrap;
}
@media only screen and (max-width: 800px) {
  .marquee__master {
    padding: 0.5rem 0;
  }
}
.marquee__master .marquee__contenedor {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  animation: scroll-left 20s linear infinite;
}
.marquee__master .marquee__name {
  font-family: "veneer", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  padding-top: 4px;
  transform: scaleX(0.9);
}
@media only screen and (max-width: 800px) {
  .marquee__master .marquee__name {
    font-size: 1.5rem;
  }
}
.marquee__master .marquee__img {
  margin-left: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 800px) {
  .marquee__master .marquee__img {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.marquee__master .item {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  gap: 1rem;
}
.marquee__master .marquee__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.selection-container {
  max-width: 500px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #ae263a;
  border-radius: 10px;
}
@media only screen and (max-width: 900px) {
  .selection-container {
    max-width: 100%;
  }
}
.selection-container .selection__text {
  justify-content: end;
}
.selection-container .selection-button {
  background-color: #ae263a;
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1.3rem;
  font-family: "veneer", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  border-radius: 10px;
  text-transform: uppercase;
}
.selection-container .selection-button:hover {
  background-color: #6e0d0d;
}
.selection-container .selection-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  animation: expand 0.3s ease-out;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.selection-container .selection-form input,
.selection-container .selection-form button {
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  padding: 0.5rem 0;
  font-size: 1rem;
  outline: none;
  color: #ffffff;
  font-family: "veneer", sans-serif;
  letter-spacing: 0.1rem;
}
.selection-container .selection-form input:focus,
.selection-container .selection-form button:focus {
  border-bottom: 1px solid #c62828;
}
.selection-container .selection-form input::placeholder,
.selection-container .selection-form textarea::placeholder {
  color: #c7a7a7;
  opacity: 1;
  font-family: "veneer", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.selection-container .selection-form button {
  background-color: #333333;
  color: white;
  cursor: pointer;
  border: none;
  font-family: "veneer", sans-serif;
  font-size: 1.2rem;
  padding-top: 13px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.selection-container .selection-form button:hover {
  background-color: #cf3e54;
}
@keyframes expand {
  from {
    opacity: 0;
    transform: scaleY(0.95);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.pirata {
  position: relative;
  padding: 2rem;
  display: flex;
  height: 250px;
  padding-left: 5vw;
  padding-right: 5vw;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 800px) {
  .pirata {
    height: 200px;
  }
}
@media only screen and (max-width: 700px) {
  .pirata {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .pirata {
    height: 130px;
    margin-bottom: 50px;
  }
}
.pirata .WAY {
  position: absolute;
  right: 10vw;
  width: 100px;
  height: auto;
}
.pirata .pirata__esquina {
  width: 30vw;
  border-top: 2px dashed #333;
  border-right: 2px dashed #333;
}
.pirata .pirata__esquina .calavera {
  max-width: 30vw;
  width: auto;
  height: auto;
  max-height: 250px;
  margin-top: 20px;
  object-fit: contain;
}
@media only screen and (max-width: 800px) {
  .pirata .pirata__esquina .calavera {
    height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .pirata .pirata__esquina .calavera {
    height: 130px;
  }
}
.pirata .pirata__horizontal {
  width: 100%;
  border-bottom: 2px dashed #333;
  margin-top: -2px;
  position: relative;
}
.pirata .pirata__horizontal .tijeras {
  position: absolute;
  bottom: -17px;
  right: -31px;
  width: 50px;
  height: auto;
}
@media only screen and (max-width: 800px) {
  .pirata .pirata__horizontal .tijeras {
    right: -20px;
  }
}
@media only screen and (max-width: 600px) {
  .pirata .pirata__horizontal .tijeras {
    right: -10px;
  }
}
.pirata .pirata__calavera {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.lavadora {
  position: relative;
  padding: 2rem;
  display: flex;
  height: 150px;
  padding-left: 3vw;
  padding-right: 3vw;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 800px) {
  .lavadora {
    height: 150px;
  }
}
@media only screen and (max-width: 700px) {
  .lavadora {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .lavadora {
    height: 90px;
    margin-bottom: 50px;
  }
}
.lavadora .lavadora__esquina {
  width: 100%;
  border-top: 2px dashed #333;
  border-right: 2px dashed #333;
}
.lavadora .lavadora__esquina .lavadora_img {
  max-width: 180px;
  width: auto;
  height: auto;
  margin-top: 20px;
}
.lavadora .lavadora__horizontal {
  width: 30vw;
  border-bottom: 2px dashed #333;
  margin-top: -2px;
  position: relative;
}
.lavadora .lavadora__horizontal .rosa {
  width: 120px;
  height: auto;
  right: 4vw;
  top: -50px;
  position: absolute;
}
@media only screen and (max-width: 800px) {
  .lavadora .lavadora__horizontal .rosa {
    width: 100px;
    right: 2vw;
  }
}
@media only screen and (max-width: 600px) {
  .lavadora .lavadora__horizontal .rosa {
    width: 80px;
    right: 0vw;
  }
}
.lavadora .pirata__calavera {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.size-container {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 20px;
}
.size-container .size-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.size-container .size-button {
  background-color: #ae263a;
  color: #ffffff;
  font-family: "veneer", sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s;
}
.size-container .size-button:hover {
  background-color: rgb(132.141509434, 28.858490566, 44.0471698113);
  transform: scale(1.1);
}
.size-container .size-button.active {
  background-color: #333333;
}
.size-container .size-selected {
  margin-bottom: 1rem;
  color: #ae263a;
  font-family: "veneer", sans-serif;
  font-size: 1.2rem;
}
.size-container .size-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80%;
  margin: 0 auto;
  animation: expand 0.3s ease-out;
  padding-bottom: 20px;
  background-color: #ae263a;
  padding: 30px;
  border-radius: 15px;
}
.size-container .size-form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  padding: 0.5rem 0;
  font-size: 1rem;
  outline: none;
  color: #ffffff;
  font-family: "veneer", sans-serif;
  letter-spacing: 0.1rem;
}
.size-container .size-form input::placeholder {
  color: #c7a7a7;
  opacity: 1;
}
.size-container .size-form input:focus {
  border-bottom: 1px solid #cf3e54;
}
.size-container .size-form input[readonly] {
  font-weight: bold;
  cursor: default;
}
.size-container .size-form button {
  background-color: #333333;
  color: white;
  cursor: pointer;
  border: none;
  font-family: "veneer", sans-serif;
  font-size: 1.2rem;
  padding-top: 13px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.size-container .size-form button:hover {
  background-color: #cf3e54;
}
@keyframes expand {
  from {
    opacity: 0;
    transform: scaleY(0.95);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.footer {
  background-color: #333333;
  color: #e6dfd7;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;
  margin-top: 150px;
}
.footer .footer__text {
  margin-top: 20px;
}
.footer .footer__text p {
  color: white;
}
.footer a {
  color: #e6dfd7;
  text-decoration: none;
}
.footer a:hover {
  color: #ff4e36;
}
.footer .footer__email {
  color: #ff4e36;
  font-size: 1.2rem;
}
.footer .footer__social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.footer .footer__legal {
  font-size: 0.9rem;
  margin-top: 1rem;
}

.foo {
  cursor: inherit;
  display: flex;
  margin-top: 30px;
  background-color: #333333;
  color: #333333 !important;
}
.foo:hover {
  color: #333333 !important;
}
